{% for message in app.flashes('mercuryseries_flashy_notification') %}
    <script id="flashy-template" type="text/template">
        <div class="flashy flashy--{{ message.type }}">
            {% if message.type == "success" %}
                <i class="far fa-check-circle fa-2x"></i>
                <a class="flashy__body" href="#" target="_blank"></a>
            {% elseif message.type == "warning" %}
                <i class="fas fa-times fa-2x"></i>
                <a class="flashy__body" href="#" target="_blank"></a>
                {% elseif message.type == "info" %}
                    <i class="fas fa-info-circle fa-2x"></i>
                    <a class="flashy__body" href="#" target="_blank"></a>
            {% endif %}
        </div>
    </script>

    <script>
        flashy("{{ message.message }}", "{{ message.link }}");
    </script>
{% endfor %}