{% extends 'base.html.twig' %}

{% block title %}Traitement RDV{% endblock %}

{% block body %}

    <div class="header pb-6" style="background-color: #EDA200">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">CRM</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><i class="fas fa-chalkboard-teacher text-yellow"></i></li>
                                <li class="breadcrumb-item">Service Commercial</li>
                                <li class="breadcrumb-item active" aria-current="page">Traitement RDV</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">
                        <a href="{{ path('commercial') }}" class="btn btn-sm btn-neutral">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt--8">

        <div class="header pb-8 pt-5 pt-md-14">
            <div class="container-fluid">
                <div class="header-body" style="text-align: center">
                    <h1 style="color: black"></h1>
                </div>
            </div>
        </div>

        <div class="container mt--8 pb-5">
            <!-- Table -->
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="card bg-secondary border-0">

                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                            </div>

                            <form action="{{ path('appointment_handle', {'id': appointment_to_process.id}) }}" method="post">

                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Client</label>
                                        <input type="text" id="input-username" class="form-control" value="{{ appointment_to_process.client.firstName ~ ' ' ~ appointment_to_process.client.lastName }}" disabled>
                                    </div>
                                </div>

                                {#<div class="form-group">
                                    <label class="form-control-label" for="input-username">RDV Effectué ?</label>
                                    <div>
                                        <label class="custom-toggle">
                                            <input id="rdv" type="checkbox" name="testing">
                                            <span class="custom-toggle-slider rounded-circle" data-label-off="Non" data-label-on="Oui"></span>
                                        </label>
                                    </div>
                                </div>#}

                                <div class="form-group">
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="argu" name="appointment_status" value="argu" class="custom-control-input" required>
                                        <label class="custom-control-label" for="argu">Argu</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="vente" name="n" value="vente" class="custom-control-input" required>
                                        <label class="custom-control-label" for="vente">Vente</label>
                                    </div>
                                </div>

                                {#<div id="start_datetime" class="form-group" style="display: none">
                                    <label for="start-datetime-local-input" class="form-control-label">Heure Début</label>
                                    <input type="datetime-local" class="form-control">
                                </div>

                                <div id="end_datetime" class="form-group" style="display: none">
                                    <label for="end-datetime-local-input" class="form-control-label">Heure Fin</label>
                                    <input type="datetime-local" class="form-control">
                                </div>#}

                                <div class="form-group" id="appointment_notes_block" {#style="display: none"#}>
                                        <div>
                                            <label class="form-control-label" for="input-username">Observations après RDV</label>
                                        </div>
                                    <textarea class="form-control" name="notes" id="notes" cols="30" rows="6" placeholder="..." resize="none" required></textarea>
                                </div>

                                <div class="text-center">
                                    <button id="confirm" type="submit" class="btn btn-success mt-4">Confirmer</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block additionalJs %}
    <script>
        window.onload = () => {
            /*let startTime = $("#start_datetime");
            let endtTime = $("#end_datetime");*/
           /* $("#rdv").change(function () {
                if($(this).is(':checked')) {
                    $("#appointment_notes_block").show('1500')
                    $("#notes").prop('required', true)
                } else {
                    $("#appointment_notes_block").hide('500')
                    $("#notes").prop('required', false)
                }
            })*/
            $('input[type=radio][name=appointment_status]').change(function() {
                if (this.value == 'vente') {
                    $("#confirm").html('Vers Projet');
                    $("#confirm").removeClass("btn-success");
                    $("#confirm").addClass("btn-primary");
                } else {
                    $("#confirm").html('Confirmer');
                    $("#confirm").removeClass("btn-primary");
                    $("#confirm").addClass("btn-success");
                }
            });
        }
    </script>

{% endblock %}
